/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 12-abr-2019, 19:58:54
    Author     : xavier
*/
h1, h2, h3{
    color: #0B0B61;
     font-family: courier;
}
h1{ 
    font-size: 40px;
    font-family: Arial;
    text-decoration: highlight;
}
h2{
    margin-left: 10px;
    font-family: courier;
}
h3{
    background: #4FCDCA;
    text-decoration: blink;
}
a {
    text-decoration: none;
    font-family: Verdana, Geneva, Arial, sans-serif;
}
ul, ul li { 
    margin: 1%; 
    padding: 1%; 
    list-style: none; 
    margin-bottom: .5em;
    padding: 5px;
}
footer{
    float:left;
    padding-top: 10px;
    padding-left: 10%;
}
body{
    margin-left: 15%;
   margin-right: 15%;
   width: 68%;
   background: url(../images/images.jpeg);
}
.banner{
    width: 999px;
    height: 250px;
}
.img1{
    width: 560px;
    height: 315px;
}
a:hover,
a:active,
a:focus {
  color: darkred;
  text-decoration: none;

}
