/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 12-abr-2019, 19:58:54
    Author     : xavier
*/
a {
    text-decoration: none;
    font-family: Verdana, Geneva, Arial, sans-serif;
}
ul, ul li { 
    margin: 1%; 
    padding: 1%; 
    list-style: none; 
    margin-bottom: .5em;
    padding: 5px;
}
footer{
    float:left;
    padding-top: 10px;
    padding-left: 10%;
}
body{
   padding-left: 20%;
   padding-right: 10%;   
}
.banner{
    width: 999px;
    height: 250px;
}
.img1{
    width: 560px;
    height: 315px;
}
